<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <title>Document</title>
</head>
<body>
        <!-- Make naviagation Conatainer... -->
         <nav>
            <!-- Making elements -->
            <ul>
                <li class="logo">
                    <i class="fa-solid fa-store"></i>
                </li>
            <li><a href="" class="menu">Home</a> </li>
            <li><a href="" class="menu">Mobile</a></li>
            <li><a href="" class="menu">Tablet</a></li>
            <li><a href="" class="menu">Laptop</a></li>
            <li><a href="" class="menu">Help</a></li>



            </ul>
         </nav>
</body>
</html>